<html>
    <div>
        <h1>All links are here:</h1>
    </div>
    <br>
    <div>
        <a href="http://127.0.0.1:8000/">home page(all posts)</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/admin/">Place where you can lig in </a>
        <p>After registration:</p>
        <a href="http://127.0.0.1:8000/post/new/">New post </a>
    </div>
    <br>
    <div>
        <p>All posts and edits of posts(edits only after registration): </p>
        {% for post in posts %}
            <a href="http://127.0.0.1:8000/post/{{post.pk}}">post {{post.pk}}</a>
            <br>
            <a href="http://127.0.0.1:8000/post/{{post.pk}}/edit">post edit {{post.pk}}</a>
            <br>
            <br>
        {% endfor %}
    </div>
</html>